@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

$primary: #ccccff;
$primary: #ff7f50;

$link: $pink;

// $body-background-color: $beige-light;

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";

@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/elements/image.sass";

.virtual-slider {
  outline: 0;
  border: 0;
  transition: box-shadow 0.2s ease-in-out;
  width: 100%;
  cursor: pointer;
  // mozilla
  &::-moz-range-progress {
    background-color: $primary;
  }
  &::-moz-range-track {
    background-color: $primary;
  }
  // Internet Explorer
  &::-ms-fill-lower {
    background-color: $primary;
  }
  &::-ms-fill-upper {
    background-color: $primary;
  }
  // chrome
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    & {
      -webkit-appearance: none;
    }
    &::-webkit-slider-runnable-track {
      background: $primary;
      height: 2px;
      border-radius: 4px;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 15px;
      width: 15px;
      border: thin solid $brown;
      background: #eff0eb;
      margin-top: -6.8px;
      border-radius: 50%;
    }
  }
}
