@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
@import url("https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&");

$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

$primary: #ccccff;
$primary: #ff7f50;

$link: $pink;

$family-sans-serif: "Athiti", sans-serif;

// $table-color: $primary;
// $table-head-background-color: $primary;
