.virtual-slider {
  outline: 0;
  border: 0;
  transition: box-shadow 0.2s ease-in-out;
  width: 100%;
  cursor: pointer;
  // mozilla
  &::-moz-range-progress {
    background-color: $primary;
  }
  &::-moz-range-track {
    background-color: $primary;
  }
  // Internet Explorer
  &::-ms-fill-lower {
    background-color: $primary;
  }
  &::-ms-fill-upper {
    background-color: $primary;
  }
  // chrome
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    & {
      -webkit-appearance: none;
    }
    &::-webkit-slider-runnable-track {
      background: $primary;
      height: 2px;
      border-radius: 4px;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 15px;
      width: 15px;
      border: thin solid $brown;
      background: #eff0eb;
      margin-top: -6.8px;
      border-radius: 50%;
    }
  }
}

.table-wrap {
  overflow-x: auto;
}

.table-primary {
  border: 2px solid $primary;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
