.v-slider {
  outline: 0;
  border: 0;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
  // mozilla
  &::-moz-range-progress {
    height: 0.4rem;
    background-color: $slider-primary-color;
    border-radius: 20rem;
    border: thin solid $slider-primary-color;
  }
  &::-moz-range-track {
    height: 0.4rem;
    background-color: $slider-secondary-color;
    border-radius: 20rem;
    border: thin solid $slider-border-color;
  }
  &::-moz-range-thumb {
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 10rem;
    background-color: $slider-primary-color;
    border: thin solid $slider-primary-color;
  }
  // Internet Explorer
  &::-ms-fill-lower {
    background-color: $slider-primary-color;
  }
  &::-ms-fill-upper {
    background-color: $slider-secondary-color;
  }
}

.v-slider-full {
  @extend .v-slider;
  width: 100%;
}
